img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 7px 200px 7px 200px;

}

div {
    text-align: center;
}

button{
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 0px ;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 2005;
    text-align: center;
}

  body{

    background:linear-gradient(360deg,#000000,#000000);
    font-family:system-ui;color:#eaf6ff;
  }

  .confetti{
    pointer-events:none;position:fixed;left:0;top:0;
    width:100%;height:100%;z-index:999;
  }
  .piece{
    position:absolute;width:10px;height:14px;border-radius:2px;
    opacity:0;transform-origin:center;
  }
  @keyframes fall{
    0%{transform:translateY(-10vh) rotate(0deg);opacity:1}
    100%{transform:translateY(120vh) rotate(720deg);opacity:0}
  }